*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: var(--font-primary);
}
:root{
    --primary-color: #ff643c;
    --bg-dark-primary: #ebecf0;
    --bg-dark-secondary: #121212;
    --bg-gray: #171717;
    --bg-gray-hover:#282828;
    --font-primary: 'Robot', sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(28,54,124), rgb(58,18,80));
    height: 100vh;
}

/* global css starts here  */
a{
    text-decoration: none;
}
button{
    background-color: white;
    color: black;
    padding: .6rem 1.2rem;
    border-radius: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
button:hover{
    transform: scale(1.1);
}
.btn-secondary{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
h1 h2 h3 h4 h5 h6{
    line-height: 2.5rem;
    font-family: var(--font-primary);
}
h1{
    font-size: 45px;
}
h2{
    font-size: 18px;
    margin: 1rem 0;
}
h4{
    font-size: 18px;
    margin: .5rem 0;
}
p{
    line-height: 2.5rem;
    font-family: var(--font-primary);

}
.container{
    width: 550px;
    background-color: white;
    padding: 1rem ;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}
.parent{
    width: 99%;
    margin: 1rem auto;
}

.d-flex{
    display: flex;
    
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.direction-column{
    flex-direction: column;
}
.align-content{
    align-content: space-between ;

}
/* global css ends here  */

.inputField{
    border-radius: 50px;
    /* border: 2px solid red; */
    background-color: var(--bg-dark-primary);
}

input{
    padding: 0.9rem 2rem;
    /* color: var(--bg-dark-primary); */    
    border-radius: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;


}
#submit{
    background-color: var(--primary-color);
    color: white;
    width: 30%;


}
input::selection{
    border: none;
    outline: none;

}

ul{
    margin: 1rem 0;
}
li{
    background-color: var(--bg-dark-primary);
    padding: .5rem 1rem;
    border-radius: 50px;
    list-style: none;
    position: relative;

}



.delete{
    background-color: var(--primary-color);
    padding: rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    position: absolute;
    top:0;
    right:0;
}